#about{
    padding: 3.2rem;
    margin-bottom: 5rem;
    .h2-title{
        @include h2();
        margin-top:5rem;
    }
    hr{
        margin: 2rem auto 8rem auto;
        opacity: 0.7;
        @include md{
            max-width: 40rem;
        }
    }
    .aboutContent{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-width: 110rem;
        margin: 0 auto;
        @include lg{
            flex-direction: row;
        }
        .about__info{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            img{
                height: 30rem;
                border-radius: 50%;
            }
            h3{
                @include h3();
            }
            p{
                text-align: center;
                font-size: 1.6rem;
                opacity: 0.6;
                max-width: 35rem;
            }
        }
        .about__skill{
            margin: 5rem auto;
            min-width: 30rem;
            @include md {
                width: 50rem;
            }
            h3{
                margin: 2rem 0;
                @include h3();
                text-align: center;
            }
            .about__listSkill{
                list-style-type: none;
                li{
                    height: 3rem;
                    padding: 0.5rem 0;
                    &:hover{
                        background-color: #7278783f;
                        .skillAbility-score{
                            .AS-star-ok{
                                transition: 0.6s;
                                margin-left: 0.4rem;
                            }
                            .AS-star-notok{
                                transition: 0.6s;
                                margin-left: 0.4rem;
                            }
                        }
                    }
                    .skillAbility{
                        font-size: 1.6rem;
                        opacity: 0.7;
                        display: inline-block;
                    }
                    .skillAbility-score{
                        float: right;
                        .AS-star-notok{
                            display: inline-block;
                            background: url(../images/star-not.svg);
                            height: 18px;
                            width: 18px;
                        }
                        .AS-star-ok{
                            display: inline-block;
                            background: url(../images/star-have.svg);
                            height: 18px;
                            width: 18px;
                        }
                    }
                }
            }
        }
    }
}