#contact{
    background-color: #ffffff;
    padding: 3.2rem;
    padding-bottom: 5rem;
    min-height: 100vh;
    .h2-title{
        @include h2();
        margin-top:5rem;
        //color: white;
    }
    hr{
        margin: 2rem auto;
        opacity: 0.7;
        @include md{
            max-width: 40rem;
        }
    }
    h3 {
        color: $M3;
        font-size: 2rem;
        opacity: 0.8;
        padding-top: 2rem;
        text-align: center;
    }
    form{
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        //box-shadow: 5px 1px 20px rgba(0,0,0,0.1);
        max-width: 50rem;
        padding: 0 2rem 5rem 2rem;
        margin: 5rem auto;
        background-color: white;
        height: 40rem;
        .wrapper{
            padding: 2rem 1rem;
            .input-data{
                height: 4rem;
                width: 100%;
                position: relative;
                input{
                    //background-color: #717080;
                    height: 100%;
                    width: 100%;
                    border: none;
                    font-size: 1.6rem;
                    border-bottom: 2px solid $M1;
                    color: $M1;
                    opacity: 0.7;
                    &:focus{
                        outline: none;
                    }
                    &:focus ~ label, &:valid ~ label{
                        transform: translateY(-20px);
                        font-size: 2rem;
                        color: $M3;
                    }
                    &:focus ~ .underline:before, &:valid ~ .underline:before{
                        transform: scaleX(1);
                    }
                }
                .underline{
                    position: absolute;
                    height: 2px;
                    width: 100%;
                    bottom: 0;
                    &::before{
                        position: absolute;
                        content: "";
                        height: 100%;
                        width: 100%;
                        background: $M3;
                        transform: scaleX(0);
                        transform-origin: center;
                        transition: transform 0.3s ease;
                    }
                }
                label{
                    font-size: 1.5rem;
                    position: absolute;
                    bottom: 2rem;
                    left: 0;
                    color: $M1;
                    pointer-events: none;
                    transition: all 0.3s ease;
                }
                textarea{
                    height: 20rem;
                    width: 100%;
                    font-size: 1.6rem;
                    border: 1px solid $M1;
                    color: $M1;
                    opacity: 0.7;
                    padding: 1rem;
                    &:focus{
                        outline: none;
                    }
                    &:focus ~ label, &:valid ~ label{
                        transform: translateY(-22px);
                        font-size: 2rem;
                        color: $M3;
                    }

                }
            }
        }
    }
}

