
.hamburger-button {
	padding: 8px;
	border: 0;
	border-radius: 8px;
	background-color: $M1;
	outline: none;
	cursor: pointer;
	transition: .3s ease-in-out;
	@include lg{
		display: none;
	}
	&:hover{
		background-color: #201d3a;
	}
	&:active{
		transform: scale(.9);
		.icon{
			i{
				animation-direction: normal;
			}
		}
	}
	&.animation{
		icon{
			i{

				&:nth-child(1),&:nth-child(2) {
					animation-name: LineHide;
				}
				&:nth-child(3) {
					animation-name: ScaleChange, Clockwise;
				}
				&:nth-child(4) {
					animation-name: ScaleChange, Counterclockwise;
				}

			}
		}
	}
	.icon{
		position: relative;
		display: block;
		width: 24px;
		height: 24px;
		i{
			position: absolute;
			width: 24px;
			height: 4px;
			border-radius: 2px;
			background-color: #ffffff;
			animation-duration: .6s;
			animation-fill-mode: forwards;
			animation-direction: reverse;
			&:nth-child(1) {
				left: 0;
				top: 0;
			}
			&:nth-child(2) {
				right: 0;
				bottom: 0;
			}
			&:nth-child(3),&:nth-child(4) {
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}
}

@keyframes LineHide {
	0% {
		width: 24px;
		opacity: 1;
	}
	50%, 100% {
		width: 0;
		opacity: 0;
	}
}
@keyframes ScaleChange {
	0% {
		width: 24px;
	}
	50%, 100% {
		width: 32px;
	}
}
@keyframes Clockwise {
	0%, 50% {
		transform: translate(-50%, -50%) rotate(0);
	}
	100% {
		transform: translate(-50%, -50%) rotate(45deg);
	}
}
@keyframes Counterclockwise {
	0%, 50% {
		transform: translate(-50%, -50%) rotate(0);
	}
	100% {
		transform: translate(-50%, -50%) rotate(-45deg);
	}
}
