
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    padding: 3.2rem;
    transition: 0.6s;
    &.sticky {
        padding: 1rem 5rem;
        background-color: $M1;
    }
    nav{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        

        div {
            position: relative;
            font-size: 2rem;
            font-weight: bolder;

        }
        ul{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            li {
                position: relative;
                list-style-type: none;
                font-size: 1.6rem;
                a{
                    position: relative;
                    text-decoration: none;
                }
            }
        }

    }
}

.hidden {
    display: none;
}