#home {
    position: relative;
    .home__image{
        height: 40rem;
        background: no-repeat url("../images/arrière-plan-gsm.png");
        @include sm{
            height: 70rem;
            background: no-repeat center center fixed url("../images/arrière-plan.png");
        }
        @include xl{
            height: 100vh;
        }
    }
    .home__content{
        padding: 5rem 3.2rem;
        display: flex;
        align-items: flex-start;
        flex-direction: column;

        @include sm{
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 38%;
            left: 50%;
            transform: translate(-50%, 0);
        }
        .h1-title{
            font-size: 4rem;
            line-height: 4.2rem;
            letter-spacing: -0.36px;
            font-weight: bold;
            font-family: 'Ibarra Real Nova', serif;
 
            span{
                color: #e31b6d;
                font-family: 'Ibarra Real Nova', serif;
            }
            @include sm{
                color: white;
                min-width: 60rem;
                text-align: center;
            }
        }
        button{
            background-color: $M2;
            color: white;
            margin-top: 4rem;
            padding:1.5rem 3rem;
            outline: none;
            border: 1px solid $M1;
            cursor: pointer;
            letter-spacing: 0.2rem;
            @include sm{
                border-color: white;
                background-color: rgba(255, 255, 255, 0);
            }
            &:hover{
                background-color: $M3;
                transition: 1s;
                border: 1px solid $M3;
            }
            
        }
    }
}