#projects{
    background-color: $BG2;
    padding: 3.2rem;
    padding-bottom: 5rem;
    .h2-title{
        @include h2();
        margin-top:5rem;
    }
    hr{
        margin: 2rem auto 8rem auto;
        opacity: 0.7;
        @include md{
            max-width: 40rem;
        }
    }

    .projects__project{
        margin: 10rem 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        margin-bottom: 5rem;
        @include lg{
            justify-content: center;
        }
        &.project--right{
            @include md{
                flex-direction: row;
            }
        }
        &.project--left{
            @include md{
                flex-direction: row-reverse;
            }
        }
        @include md{
            height: 42rem;
        }
        @include lg{
            height: 50rem;
        }
        img{
            width: 100%;
            margin: 3rem 0;
            @include md{
                width: 30rem;
            }
            @include lg{
                width: 54rem;
            }
        }
        .project-content{
            border-top: 1px solid rgba(165, 165, 165, 0.336);
            border-bottom: 1px solid rgba(165, 165, 165, 0.336);
            margin-top: 3rem;
            padding: 3rem 0;

            &.pr{
                @include md{
                    margin-left: 7rem;
                    max-width: 45%;
                    height: 42rem;
                }
                @include lg{
                    height: 50rem;
                    padding: 8rem 0;
                    max-width: 35rem;
                }
                @include xl{
                    margin-left: 25rem;
                }
            }
            &.pl{
                @include md{
                    margin-right: 7rem;
                    max-width: 35%;
                    height: 42rem;
                }   
                @include lg{
                    height: 50rem;
                    padding: 8rem 0;
                    max-width: 35rem;
                }
                @include xl{
                    margin-right: 25rem;
                }
            }
            h3{
                font-size: 2.5rem;
                opacity: 0.8;
                padding-top: 2rem;
            }
            p{
                font-size: 1.6rem;
                opacity: 0.6;
                line-height: 3rem;
                margin: 2rem 0;
            }
            .project-view{
                letter-spacing: 2px;
                padding: 1.5rem 3rem;
                margin-bottom: 2rem;
                background-color: $BG2;
                color: $M2;
                border: 1px solid $M2;
                cursor: pointer;
                &:hover{
                    background-color: $M2;
                    color: white;
                    transition: 0.6s;
                }
            }
        }
    }
}