*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: normal;
  font-family: 'Public Sans', sans-serif;
}
@import "variable";
html{
    font-size: 62.5%;
    width:100%;
}
body{
  color:$M1;
  width:100%;
  overflow-x:hidden;
}

.container {
  margin: 0 3.2rem
}

.active{
  color: $M3 !important;
}

.hidden{
  display:none;
}

@import "header";
@import "hamburger-menu";
@import "home";
@import "about";
@import "project";
@import "contact";
@import "footer";