*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: normal;
  font-family: 'Public Sans', sans-serif;
}

html{
    font-size: 62.5%;
}

.container {
  margin: 0 3.2rem
}
@import "variable";

@import "header";
@import "hamburger-menu";
@import "home";